
.loginPage{
    width: 800px;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    display:flex;
    border: solid #4F87A8 10px;
    background-color: #4F87A8;
}


.col-1 {
    position: relative;
    width: 50%;
    /* float: left; */
    height: 100%;
    /* z-index: 1010101010;  */
}

.col-2 {
    position: relative;
    width: 50%;
    /* float: left; */
    height: 100%;
    background-color: #F4F3EF;
    /* z-index: 1010101010; */
    text-align: center;
    margin-left: 10px;
}

.loginPhoto{
    width: 100%;
    margin-top: 17px;
}
