.tripHome{
    background: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 8px 40px -12px rgba(0,0,0,0.1);
}
.tripHomeContent{
    margin-left: 20px;
    margin-top: 20px;
    padding-bottom: 20px;
}